/Public/logs/import_resource/2015-03/import_resource_20150313.log
/Public/logs/import_course/2015-03/*.log
/Public/logs/import_library/2015-03/*.log
/Public/logs/import_section/2015-03/*.log
/Public/logs/import_topic/2015-03/*.log
