
<form id="edit_form" method="post" style="padding:10px">
<table class="editTable">
	<tr><th>所属活动</th><td>{$winner['actName']}<input type="hidden" name="aId" id="aId" value="{$aId}"/></td></tr>
    <tr><th>用户ID</th><td><input type="text" name="userId" id="userId" /><em>*</em></td></tr>
    <tr><th>角色ID</th><td><input type="text" name="roleId" id="roleId" /></td></tr>
    <tr><th>奖项ID</th><td><input type="text" name="packId" /><em>*</em></td></tr>
	<tr><th>备注</th><td><textarea id="info" name="info" cols="50" rows="5"></textarea></td></tr>
</table>
</form>	