<form id="edit_form" method="post" style="padding:10px">
<table class="editTable">
	<tr>
		<th>名称</th>
		<td>
			<input type="hidden" id="id" name="id" value="{$chrageMode['id']}"/>
			<input type="text" id="name" name="name" value="{$chrageMode['name']}"/><em>*</em>
		</td>
	</tr>
	<tr>
		<th>关键字</th>
		<td>
			<input type="text" id="cKey" name="cKey" value="{$chrageMode['cKey']}"/><em>*</em>
		</td>
	</tr>
	<tr>
		<th>计费类型</th>
		<td>{$typeHtml}</td>
	</tr>
	<tr>
		<th>计费id</th>
		<td>
			<input type="text" id="chargeId" name="chargeId" value="{$chrageMode['chargeId']}"/><em>*</em>
		</td>
	</tr>
	<tr>
		<th>价格</th>
		<td>
			<input type="text" id="price" name="price" value="{$chrageMode['price']}"/><em>*</em>
		</td>
	</tr>
	<tr>
		<th>描述</th>
		<td>
			<input type="text" id="desc" name="desc" value="{$chrageMode['desc']}"/><em>*</em>
		</td>
	</tr>
	<tr><th>状态</th><td>{$statusHtml} <em>*</em></td></tr>
</table>
</form>