<extend name="./base_list" />
<block name="search">
	ID：<input type="text" name="where[id]" placeholder="请输入ID" />
    用户ID:<input type="text" name="where[userId]" placeholder="请输入用户ID" />
    角色ID：<input type="text" name="where[roleId]" placeholder="请输入角色ID" />
    奖品ID：<input type="text" name="where[itemId]" placeholder="请输入奖品ID" />
    奖品类型：{$awardTypeHtml}
</block>
<block name="datagrid">
	    sortName:'id',//默认排序字段
		sortOrder:'desc',//默认排序方式 'desc' 'asc'
		idField : 'id',
	    columns:[[ 
            {field:'id',title:'ID',sortable:true,align:'right',width:60},            
            {field:'userId',title:'用户ID',sortable:true,width:70},
            {field:'roleId',title:'角色ID',sortable:true,width:70},
            {field:'typeName',title:'奖品类型',sortable:true,width:60},
            {field:'itemId',title:'奖品ID',sortable:true,width:60},
            {field:'itemName',title:'奖品名称',sortable:false,width:120},
            {field:'num',title:'数量',sortable:true,width:50},
            {field:'info',title:'备注',sortable:false,width:520},
            {field:'addTime',title:'添加时间',sortable:true,width:180},
        ]],
</block>

<block name="js">
     function edit(){}
</block>